# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# ex. "postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
DATABASE_URL=
# ex. 3000
PORT=
# ex. hmrRKeqsipSK74YFqqA5k9Ynnes3pmnQ
CLIENT_SECRET_TOKEN=
# ex. @n6xOKJFmUo3j3sdioxv8G99jOq3t@@3
DELIVERYMAN_SECRET_TOKEN=
