<html>
	<head>
		<style>
			.container { width: 50rem; font-family: Arial, Helvetica, sans-serif; }
			span { margin: 0.625rem 0; display: block; }
		</style>
	</head>
	<body>
		<div class='container'>
			<img src='https://i.imgur.com/oUAKMC5.png' alt='App logo' />
			<span>Hi, {{name}}</span>
			<br />
			<span>You have requested to reset your password for your account.</span>
			<span>Please click the link below to reset your password
				<a href='{{link}}'>{{link}}</a>
			</span>
			<span>If you did not request to reset your password, please ignore this
				email.</span>
			<strong>Thank you!</strong>
			<h3>Team | <strong>RentX</strong></h3>
		</div>
	</body>
</html>